# CONFIGURACIÓN DE VARIABLES DE ENTORNO DE DJANGO

DEBUG=False
SECRET_KEY=change_me_in_production
ALLOWED_HOSTS=localhost,127.0.0.1

# ACTIVAR POSTGRESQL EN DOCKER
USE_POSTGRES=True

# CONFIGURACION DE POSTGRESQL PARA DOCKER

DB_NAME=neurosensory_db
DB_USER=neurosensory_user
DB_PASSWORD=neurosensory_pass
DB_HOST=db
DB_PORT=5432